@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p dir="rtl">לבודק היקר,שים לב שאת הגרסה הנוכחית עשיתי רק ביום שישי ואז עדכנתי את הגיט, ובמבחן עצמו עשיתי פרוייקט שלא עובד ורק עכשיו הבנתי שמה שחוזר מהכתובת https://dummyjson.com/users זה לא List של Users אלא אובייקט שמכיל List של Users ולכן בשעת המבחן לא הבנתי למה זה לא עובד (ניסיתי גם את הכתובת https://dummyjson.com/todos וגם שמה נתקלתי באותה השגיאה), כמובן ניתן לראות גם את הגרסה הקודמת בגיט,</p>
    
    </div>
    
